body{
    background: darkgreen;
}
.title-div{
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.outer-container{
    display: flex;
    justify-content: center;
}
.container{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    height: 700px;
    border: solid 2px black;

}

.row{
    display: flex;
    flex-wrap: nowrap;
}

.square{
    background-color: white;
}
.btn{
    border: solid 5px black;
}
